/* Global Rules */
:root{
    --main-color:#00c7fc;
    --transparent-color:rgba(15, 116, 143, 70%);
    --p-color:#888888;
    --section-pad:80px;
    --overlay: rgba(0, 0, 0, 0.6);
}
*{
box-sizing:border-box;
margin:0;
padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* End Global Rules */

/* Global Components */
.container{
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
}
    /* Small */
    
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
    /* Medium */

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    /* Large */

    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    /*Section's header*/
    .sec-hed{
        text-align: center;
        padding: 0px 10px;
    }
    .sec-hed h1{
        margin: 0;
        font-weight: 400;
        font-size: 45px;
        text-transform: uppercase;
        padding-bottom: 20px;
        position: relative;
    }
    .sec-hed h1::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        background-color: black;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .sec-hed h1::after{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        border: 2px solid black;
        bottom: calc(-15px / 2);
        left: 50%;
        transform: translateX(-50%);
    
    }
    .sec-hed p{
        color: var(--p-color);
        padding-top: 30px;
        padding-bottom: var(--section-pad);
    }
/* End Global Components */
/* Start Landing */
.landing{
    height: 100vh;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.landing .header{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.landing .header .container{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    position: relative;
}
.landing .container::before{
    content: '';
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0px;
    left: 15px;
    width: calc( 100% - 30px);
}
.landing .container .logo{
    display: flex;
    align-items: center;
}
.landing .header .nav-bar{
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
}
.nav-bar .toggle-menu{
    font-size: 25px;
    display: none;
}
.nav-bar .list,.tog-men-list{
    display: flex;
    align-items: center;
}
.nav-bar .list a,.tog-men-list a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    padding: 0px 10px;
    position: relative;
    transition: 0.3s;
}
.nav-bar .list li:first-child a:first-child{
    color: var(--main-color);
}
.nav-bar .list li:first-child a:first-child::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--main-color);
    bottom: 0px;
    left: 0;
}
.nav-bar .list li:not(:first-child) a:hover{
    color: var(--main-color);
}
.nav-bar .list li:not(li:first-child) a:hover::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--main-color);
    bottom: 0px;
    left: 0;
}
.search-btn {
    position: relative;
    margin-left: 40px;
}
.search-btn::before {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% + 20px);
    left:-20px;
    top: -10px;
    background-color: white;

}
.search-btn i{
    font-size: 22px;
}

/* Small */
@media(max-width:767.5px){
    .nav-bar .list{
        display: none;
    }
    .nav-bar .tog-men-list{
       position: absolute;
       display: none;
       top: 100%;
       left:0;
       width: 100%;
       background-color: rgba(0, 0, 0, 0.5);
    }
    .nav-bar .tog-men-list a{
        display: flex;
        justify-content: start;
        height: 60px;
        font-size: 15px;
    }
    .nav-bar .tog-men-list li a:hover{
        color: var(--main-color);
    }
    .nav-bar .tog-men-list li a:hover::before{
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: var(--main-color);
        bottom: 0px;
        left: 0;
    }
    .nav-bar .toggle-menu{
        display: block;
    }
    .nav-bar .toggle-menu::before{
        content: "";
        position: relative;
        border: 8px solid white;
        top: 30px;
        left: 19px;
        border-color: transparent;
    }
    .nav-bar .toggle-menu:hover  .tog-men-list{
        display: block;
    }
}
.landing .text{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: #00c5fcf8;
    width: 50%;
    max-height: 360px;
    top: 50%;
    transform: translateY(-50%);
    padding:60px 30px;
    z-index: 1;
    background-color: var(--transparent-color);
}
.landing .text h1,.landing .text p{
    font-weight: 300;
    color: white;
    margin: 0;
    width: 80%;

}
.landing .text h1{  
    line-height: 1.4;
    font-size: 35px;
}
.landing .text h1:nth-of-type(2){
    margin-bottom: 20px;
}
.landing .text p{
    font-size: 14px;
    line-height: 2;
}
    /* Small */
    @media(max-width:767.5px){
        .landing .text{
            width: 100%;
            text-align: center;
            align-items: center;
        }
        .landing .text h1,.landing .text p{
            width: 100%;
        }
    }

.left-arrow ,.right-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    transform: 0.3s;
}
.left-arrow{
    left: 0;
    padding-left: 20px;
    padding-right: 10px;
}
.right-arrow{
    right: 0;
    padding-right: 20px;
    padding-left: 10px;
}
.fas.fa-angle-left.change-background.fa-2x.left-arrow,
.fas.fa-angle-right.change-background.fa-2x.right-arrow{
    font-size: 40px;
    transition: 0.3s;
}
.fas.fa-angle-left.change-background.fa-2x.left-arrow:hover,
.fas.fa-angle-right.change-background.fa-2x.right-arrow:hover{
    color: var(--main-color);
    font-size:50px ;
    }
.landing .bullets{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    z-index: 1;
}  
.landing .bullets .active{
    background-color: var(--main-color);
    border: none;
}
.landing .bullets li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
    background-color:transparent;
}  
/* End Landing */

/* Start Services */
.services{
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
}
.services .container{
    display: flex;
    flex-wrap: wrap;
}
.services .container .srv{
    display: flex;
    width: calc(100%/2);
    padding: 30px;
}
.container .srv i{
    font-size: 50px;
    padding-right: 30px;
}
.container .srv h3{
    color: var(--main-color);
    margin-bottom: 30px;
}
.container .srv p{
    color: var(--p-color);
    line-height: 2.2;
}
    /* Medium */
    @media(max-width:991.5px){
    .services .container .srv{
        width: 100%;
        }
    }
    /* Small */
    @media(max-width:767.5px){
        .services .container .srv{
            flex-direction: column;
            text-align: center;
        }
        .services .container .srv i{
            padding-right:0;
            padding-bottom: 30px;
        }
    }

/* End Services */
/* Start Advantages */
.advantages{
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80vh;
}
.advantages::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--overlay);
}
.advantages .image{
    z-index: 1;
    width: 50%;
    position: relative;
    overflow: hidden;
}
.advantages .image img{
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
}
.advantages .text{
    background-color: var(--transparent-color);
    z-index: 1;
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color:white;
    padding: 30px;
}
.advantages .text ul li{
    padding-bottom: 20px;
}
.advantages .text h2{
    font-weight: 400;
    padding-bottom: 30px;
}
.advantages .text i{
    padding-right:20px;
}
    /* Small */
    @media(max-width:767.5px){
        .advantages .image{
            display: none;
        }
        .advantages .text{
            width: 100%;
        }
    }
    
/* End Advantages */
/* Start Portfolio */
.portfolio{
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
   
}
.portfolio .categories{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio .categories li{
    padding: 10px;
    border-radius: 10%;
}
.portfolio .categories .active{
    background-color: var(--main-color);
    color: white;
}
.cate-con{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
/* Medium */
@media(max-width:991px){
    .cate-con{
        grid-template-columns: repeat(2,1fr);   
    }
}
/* Small */
@media(max-width:767px){
    .cate-con{
        grid-template-columns: repeat(1,1fr);   
    }
}
.cate-con .box{
    position: relative;
    overflow: hidden;
}
.cate-con .box img{
    width: 100%;
    transition: 0.3s;
}
.cate-con .box .text{
    padding: 20px;
    position: absolute;
    width: 100%;
    background-color: white;
    bottom: -100%;
    transition: 0.3s;
}
.cate-con .box .text p:first-of-type{
    padding-bottom: 10px;
}
.cate-con .box .text p:not(:first-of-type){
    color: var(--main-color);
}
.cate-con .box:hover img{
    transform: rotate(2deg) scale(1.1);
}
.cate-con .box:hover .text{
   bottom: 0;
}
.portfolio .more{
    color: white;
    background-color: var(--main-color);
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}
/* End Portfolio */
/* Video Section */
.video-con{
    position: relative;
}
.video-con::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--overlay);
}
.video-con video{
    width: 100%;
}
.video-con .text{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    text-align: center;
    color: white;
}
.video-con .text h2{
    font-weight: 500;
    padding: 40px 0px;
}
.video-con .text p{
    padding-bottom: 40px;
}
.video-con .text .btn{
    display: block;
    position: relative;
    background-color: black;
    padding: 10px 20px;
    width: fit-content;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    text-transform: uppercase;
}
/* Start About */
.about{
    padding-top: var(--section-pad);
}
.about .about-img{
    text-align: center;
    overflow: hidden;
    margin-top: -100px;
}
.about .about-img img {
    position: relative;
    bottom: -115px;
}
.stats{
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
    min-height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
.stats::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--overlay);    
}
.stats .container{
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    text-align: center;
    background-color: var(--transparent-color);
    padding-top: 40px;
    padding-bottom: 40px;
}
.stats .container .stat{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats .container .stat .icon-con{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;  
}
.stats .container .stat h1{
    font-size: 50px;
}
/* Medium */
@media(max-width:991.5px){
    .stats .container{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 50px;
    }  
}
/* Small */
@media(max-width:767.5px){
    .stats .container{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 60px;
        width: 100%;
    }  
    .stats .container .stat h1{
        margin-bottom: 25px;
    }
    .about .about-img {
        width: 100%;
    }
    .about .about-img img{
        max-width: 100%;
        bottom: -110px;
    }
}
/* End About */
/* Start Skills */
.skills-members{
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
}
.skills-members .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills-members .t-s-head{
    flex-basis: 47%;
}
.skills-members .text{
    text-align: center;
    padding-bottom: 70px;
    position: relative;
}
.skills-members .text h2{
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.skills-members .text p{
    color: var(--p-color);
    line-height: 2;
}
.skills-members .member{
    display: flex;
}
.skills-members .member:first-of-type{
    margin-bottom: 25px;
}
.skills-members .mem-img{
    width: 200px;
    margin-right: 30px;
    align-self: center;
}
.skills-members .member img{
   width: 100%;
   border-radius: 50%;
}
.skills-members .mem-text{
    position: relative;
    padding-bottom: 20px;
}
.skills-members .mem-text::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    bottom: 0;

}
.skills-members .explanation{
    line-height: 2;
    margin-bottom: 20px;
}
.skills-members .name{
    text-align: end;
    color: var(--p-color);
}
.progress .skill{
    margin: 30px 0px;
}
.progress .skill p{
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.progress .skill .prog-line{
    width: 100%;
    height: 30px;
}
.prog-line .grey-line{
    height: 100%;
    background-color: #ebebeb;
}
.progress .skill .blue-line{
    position: relative;
    width: 20px;
    height: 100%;
    background-color: var(--main-color);
}
.progress .skill .blue-line::before{
    content: attr(data-progress);
    position: absolute;
    right: -20px;
    top: -45px;
    color: white;
    background-color: black;
    border-radius: 15%;
    padding: 5px 5px;
}
.progress .skill .blue-line::after{
    content: "";
    height: 15px;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -7px;
    position: absolute;
    top: -17px;}
.t-s-head .bullets{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: var(--section-pad);
}
.t-s-head .bullets li{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--p-color);
    background-color:transparent;
} 
.t-s-head .bullets .active{
    background-color: var(--main-color);
    border: none;
    margin: 0px 8px;
}

/* Medium */
@media (max-width:991.5px){
    .skills-members .t-s-head{
        flex-basis: 100%;
    }
}
/* Small */
@media (max-width:767.5px){
    .skills-members .member{
        flex-direction: column;
    }
    .member .mem-img{
        width: 100px;
        margin-right:0 ;
        margin-bottom: 10px;
    }
    .explanation{
        text-align: center;
    }
    .skills-members .name{
        font-size: 14px;
    }
}
/* End Skills */

/* Start Quote */
.quote{
    background-image: url(../images/quote.jpg);
    background-size: cover;
    position: relative;
    
}
.quote::before{
    content: "";
    position: absolute;
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.quote .container{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote .container q{
    font-size: 30px;
}
.quote .container p{
margin-top: 20px;
}
/* End Quote */

/* Start Pricing */
.pricing{
    padding-top: var(--section-pad);
    padding-bottom:var(--section-pad) ;
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax( 250px , 1fr));
    text-align: center;
    grid-gap: 30px;
}
.pricing .container .plan{
    background-color:#fcfcfc;
    padding-bottom: 20px;
}
.plan .price{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;
}
.plan .price::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}
.plan .price::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}
.plan .price p{
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
    
}
.plan .price h1{
    font-size: 60px;
    margin: 0;
    position: relative;
    text-align: center;
}
.plan .price h1::before{
    content: "$";
    position: absolute;
    top: 0;
    left: -20px;
    color: black;
    font-size: 30px;
}
.plan .price h1::after{
    content: "/mo";
    position: absolute;
    bottom: 0;
    right: -40px;
    color: black;
    font-size: 20px;
}
.plan .features{
    position: relative;
    margin-bottom: 20px;   
}
.plan .features::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}
.plan .features li{
    padding: 25px 0px;
    position: relative;
}
.plan .features li::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.plan .buy-btn{
    padding: 25px 0px;
    border: 1px solid var(--main-color);
}
.pricing .for-more{
    display: block;
    margin-top: 40px;
}
.pricing .for-more p{
    font-size: 20px;
    padding-bottom: 20px;
}
.pricing .for-more div{
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    text-align: start;
}
/* End Pricing */

/* Start Subscribe */
.subscribe{
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
}
.subscribe::before{
    content: "";
    position: absolute;
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.4);    
}
.subscribe .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
}
.subscribe .container,.subscribe p{
    position: relative;
    z-index: 1;
    color: white;
}
.subscribe .container .input-email{
    flex-basis: 45%;
    position: relative;
}
.subscribe .container .input-email i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.subscribe p{
    flex-basis: 50%;
}
.subscribe .input-email{
    display: flex;
}
.subscribe .input-email input{
    padding: 20px 50px;
    border:1px solid white;
    width: 100%;
    color: white;
    background-color: transparent;
    caret-color: var(--main-color);
    border-right-color: transparent;
}
.subscribe .input-email input:focus{
    outline: none;
}
.subscribe .input-email button{
    border-radius: 0;
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-left-color: transparent;
}
/* medium */
@media(max-width:991.5px){
    .subscribe .container{
        flex-direction: column;
    }
    .subscribe p{
        margin-top: 40px;
        text-align: center;
    }
}
/* End Subscribe */

/* Start Contact Us */
.contact-us{
    padding-top:var(--section-pad);
    padding-bottom:var(--section-pad);
}
.contact-us .container{
    display: flex;
    justify-content: space-between;
}
.contact-us .container .sender-info{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}
.container .sender-info input{
    padding: 20px;
    outline: none;
    margin-bottom: 30px;
    border:1px solid #cccccc;
}
.container .sender-info :nth-child(3){
    padding: 20px;
    border: 1px solid #cccccc;
    height: 200px;
    outline: none;
    margin-bottom: 30px;
}
.container .sender-info input::placeholder{
    color: black;
}
.sender-info button{
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    padding: 20px;
    align-self: flex-end;
    border: none;
    cursor: pointer;
}
.contact-us .container .info{
    display: flex;
    flex-direction: column;
}
.numbers{
    margin-bottom: 100px;
}
.numbers :last-child{
    margin-bottom: 10px;
}
.address :last-child{
    line-height: 1.8;
    font-style: italic;
}
.numbers h2,.address h2{
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contact-us .container .info p{
    color: #838383;
}
/* Small */
@media(max-width:767.5px){
    .contact-us .container{
        flex-direction: column;
    }
    .contact-us .container .info{
        text-align: center;
        order: -1;
        margin-bottom: 30px;
    }
}

/* End Contact Us */
/* Start Footer */
footer{
    background-image: url(../images/subscribe.jpg);
    position: relative;
    background-size: cover;
}
footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--overlay);
}
footer .container{
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
footer .container img{
    margin-bottom: 60px;
}
footer .container h2{
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}
footer .container hr{
    color: white;
}
footer .container .social{
    margin-top: 25px;
}
footer .container .social i{
    color: white;
    padding: 0px 20px;
}
footer .container .copy-rights{
    color: white;
    font-size: 17px;
    margin-top: 60px;
}
.copy-rights span{
    color: var(--main-color);
    font-size: 17px;
}

/* End Footer */